
# 5864_MLinEDU Beginner TA Lecture 1: Operator and Data Type
Teacher: Chun-Shu Wei  
Teaching Assistant: 劉昱劭,Min-Jiun Tsai

## Section 1:Operator[1][2]

Operators are used to perform operations on variables and values.  
Python divides the operators in the following groups:
* Arithmetic operators  
    Arithmetic operators are used with numeric values to perform common mathematical operations.
* Assignment operators  
    Assignment operators are used to assign values to variables.
* Comparison operators  
    Comparison operators are used to compare two values.
* Logical operators  
    Logical operators are used to combine conditional statements.
* Identity operators  
    Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location.
* Membership operators  
    Membership operators are used to test if a sequence is presented in an object.
* Bitwise operators  
    Bitwise operators are used to compare (binary) numbers.

## Arithmetic Operators
Arithmetic operators are used with numeric values to perform common mathematical operations.
<img src="Arithmetic_Operator.png">
### Example 1: Arithmetic operators in Python

In [11]:
x = 15
y = 4
# Output: x + y = 19
print('x + y =',x+y)
# Output: x - y = 11
print('x - y =',x-y)
# Output: x * y = 60
print('x * y =',x*y)
# Output: x / y = 3.75
print('x / y =',x/y)
# Output: x // y = 3
print('x // y =',x//y)
# Output: x ** y = 50625
print('x ** y =',x**y)

x + y = 19
x - y = 11
x * y = 60
x / y = 3.75
x // y = 3
x ** y = 50625

## Comparison Operator
Comparison operators are used to compare values. It either returns True or False according to the condition.
<img src="Comparison_Operator.png">
### Example 2: Comparison operators in Python

In [1]:
x = 10
y = 12
# Output: x > y is False
print('x > y  is',x>y)
# Output: x < y is True
print('x < y  is',x<y)
# Output: x == y is False
print('x == y is',x==y)
# Output: x != y is True
print('x != y is',x!=y)
# Output: x >= y is False
print('x >= y is',x>=y)
# Output: x <= y is True
print('x <= y is',x<=y)

x > y  is False
x < y  is True
x == y is False
x != y is True
x >= y is False
x <= y is True

##  Logical Operator
Logical operators are the and, or, not operators.
<img src="Logical_Operator.png">
### Example 3: Logical operators in Python

In [2]:
x = True
y = False
# Output: x and y is False
print('x and y is',x and y)
# Output: x or y is True
print('x or y is',x or y)
# Output: not x is False
print('not x is',not x)

x and y is False
x or y is True
not x is False

## Bitwise operators
Bitwise operators act on operands as if they were string of binary digits. It operates bit by bit, hence the name.  
For example, 2 is 10 in binary and 7 is 111.  
In the table below: Let x = 10 (0000 1010 in binary) and y = 4 (0000 0100 in binary)
<img src="Bitwise_Operator.png">
### Example 4: Bitwise operators in Python

In [6]:
x=10
y=4
print('x & y  is',x&y)
print('x | y  is',x|y)
print('~ x is',~x)
print('x ^ y is',x^y)
print('x >> y is',x>>y)
print('x << y is',x<<y)

x & y  is 0
x | y  is 14
~ x is -11
x ^ y is 14
x >> y is 0
x << y is 160

## Assignment operators
Assignment operators are used in Python to assign values to variables.  
a = 5 is a simple assignment operator that assigns the value 5 on the right to the variable a on the left.  
There are various compound operators in Python like a += 5 that adds to the variable and later assigns the same. It is equivalent to a = a + 5.
<img src="Assignment_Operator.png">
### Example 5: Assignment operators in Python

In [7]:
x=5
x+=5
print('x+=5 is',x)

x+=5 is 10

In [8]:
x=5
x-=5
print('x-=5 is',x)

x-=5 is 0

In [9]:
x=5
x*=5
print('x*=5 is',x)

x*=5 is 25

In [10]:
x=5
x/=5
print('x/=5 is',x)

x/=5 is 1.0

In [11]:
x=5
x%=5
print('x%=5 is',x)

x%=5 is 0

In [12]:
x=5
x//=5
print('x//=5 is',x)

x//=5 is 1

In [13]:
x=5
x**=5
print('x**=5 is',x)

x**=5 is 3125

In [14]:
x=5
x&=5
print('x&=5 is',x)

x&=5 is 5

In [15]:
x=5
x|=5
print('x|=5 is',x)

x|=5 is 5

In [16]:
x=5
x^=5
print('x^=5 is',x)

x^=5 is 0

In [17]:
x=5
x>>=5
print('x>>=5 is',x)

x>>=5 is 0

In [18]:
x=5
x<<=5
print('x<<=5 is',x)

x<<=5 is 160

## Special operators
Python language offers some special type of operators like the identity operator or the membership operator.   
They are described below with examples.

## Identity operators
is and is not are the identity operators in Python.  
They are used to check if two values (or variables) are located on the same part of the memory. Two variables that are equal does not imply that they are identical.
<img src="Identity_Operator.png">
### Example 6: Identity operators in Python

In [19]:
x1 = 5
y1 = 5
x2 = 'Hello'
y2 = 'Hello'
x3 = [1,2,3]
y3 = [1,2,3]
# Output: False
print(x1 is not y1)
# Output: True
print(x2 is y2)
# Output: False
print(x3 is y3)

False
True
False

## Membership operators
in and not in are the membership operators in Python.   
They are used to test whether a value or variable is found in a sequence (string, list, tuple, set and dictionary).    
In a dictionary we can only test for presence of key, not the value.  
<img src="Membership_Operator.png">
### Example 7: Membership operators in Python

In [20]:
x = 'Hello world'
y = {1:'a',2:'b'}
# Output: True
print('H' in x)
# Output: True
print('hello' not in x)
# Output: True
print(1 in y)
# Output: False
print('a' in y)

True
True
True
False

Here, 'H' is in x but 'hello' is not present in x (remember, Python is case sensitive).   
Similary, 1 is key and 'a' is the value in dictionary y. Hence, 'a' in y returns False.

## Section 2: Data Type[1][2]
## Built-in Data Types
In programming, data type is an important concept.  
Variables can store data of different types, and different types can do different things.  
Python has the following data types built-in by default, in these categories.
<img src="Data_Type.png">
## Data types in Python
Every value in Python has a datatype.   
Since everything is an object in Python programming, data types are actually classes and variables are instance (object) of these classes.  
There are various data types in Python. Some of the important types are listed below.
## Python Numbers
Integers, floating point numbers and complex numbers falls under Python numbers category.   
They are defined as int, float and complex class in Python.    
We can use the **type()** function to know which class a variable or a value belongs to and the **isinstance()** function to check if an object belongs to a particular class.

In [21]:
a = 5
print(a, "is of type", type(a))

a = 2.0
print(a, "is of type", type(a))

a = 1+2j
print(a, "is complex number?", isinstance(1+2j,complex))

5 is of type <class 'int'>
2.0 is of type <class 'float'>
(1+2j) is complex number? True

In [24]:
isinstance?

Integers can be of any length, it is only limited by the memory available.   
A floating point number is accurate up to 15 decimal places.   
Integer and floating points are separated by decimal points.   
1 is integer, 1.0 is floating point number.    
Complex numbers are written in the form, x + yj, where x is the real part and y is the imaginary part. Here are some examples.

In [23]:
a = 1234567890123456789
b = 0.1234567890123456789
c = 1+2j
c

(1+2j)

Notice that the float variable b got truncated.

## Python List
List is an ordered sequence of items.   
It is one of the most used datatype in Python and is very flexible.   
All the items in a list do not need to be of the same type.  
Declaring a list is pretty straight forward. Items separated by commas are enclosed within brackets [ ].

In [25]:
a = [1, 2.2, 'python']

We can use the slicing operator [ ] to extract an item or a range of items from a list. Index starts form 0 in Python.

In [26]:
a = [5,10,15,20,25,30,35,40]

# a[2] = 15
print("a[2] = ", a[2])

# a[0:3] = [5, 10, 15]
print("a[0:3] = ", a[0:3])

# a[5:] = [30, 35, 40]
print("a[5:] = ", a[5:])

a[2] =  15
a[0:3] =  [5, 10, 15]
a[5:] =  [30, 35, 40]

Lists are mutable, meaning, value of elements of a list can be altered.

In [28]:
a = [1,2,3]
a[2]=4
a

[1, 2, 4]

## Python Tuple
Tuple is an ordered sequence of items same as list.The only difference is that tuples are immutable. Tuples once created cannot be modified.  
Tuples are used to write-protect data and are usually faster than list as it cannot change dynamically.  
It is defined within parentheses () where items are separated by commas.

In [29]:
t = (5,'program', 1+3j)

We can use the slicing operator [] to extract items but we cannot change its value.

In [30]:
t = (5,'program', 1+3j)

# t[1] = 'program'
print("t[1] = ", t[1])

# t[0:3] = (5, 'program', (1+3j))
print("t[0:3] = ", t[0:3])

# Generates error
# Tuples are immutable
t[0] = 10

t[1] =  program
t[0:3] =  (5, 'program', (1+3j))

TypeError: 'tuple' object does not support item assignment

## Python Strings
String is sequence of Unicode characters.   
We can use single quotes or double quotes to represent strings. Multi-line strings can be denoted using triple quotes, ''' or """.

In [27]:
s = "This is a string"
s_long = """ this is a very
        long string if I had the
        energy to type more and more ..."""

Like list and tuple, slicing operator [ ] can be used with string. Strings are immutable.

In [32]:
s = 'Hello world!'

# s[4] = 'o'
print("s[4] = ", s[4])

# s[6:11] = 'world'
print("s[6:11] = ", s[6:11])

# Generates error
# Strings are immutable in Python
s[5] ='d'

s[4] =  o
s[6:11] =  world

TypeError: 'str' object does not support item assignment

## Python Set
Set is an unordered collection of unique items. Set is defined by values separated by comma inside braces { }.   
Items in a set are not ordered.

In [33]:
a = {5,2,3,1,4}

# printing set variable
print("a = ", a)

# data type of variable a
print(type(a))

a =  {1, 2, 3, 4, 5}
<class 'set'>

We can perform set operations like union, intersection on two sets. Set have unique values. They eliminate duplicates.

In [34]:
a = {1,2,2,3,3,3}
a

{1, 2, 3}

Since, set are unordered collection, indexing has no meaning. Hence the slicing operator [] does not work.

In [35]:
 a = {1,2,3}

In [36]:
a[1]

TypeError: 'set' object is not subscriptable

## Python Dictionary
Dictionary is an unordered collection of key-value pairs.  
It is generally used when we have a huge amount of data. Dictionaries are optimized for retrieving data. We must know the key to retrieve the value.  
In Python, dictionaries are defined within braces {} with each item being a pair in the form key:value. Key and value can be of any type.

In [37]:
d = {1:'value','key':2}
type(d)

dict

We use key to retrieve the respective value. But not the other way around.

In [38]:
d = {1:'value','key':2}
print(type(d))

print("d[1] = ", d[1])

print("d['key'] = ", d['key'])

# Generates error
print("d[2] = ", d[2])

<class 'dict'>
d[1] =  value
d['key'] =  2

KeyError: 2

In [10]:
import numpy as np
d={1:[1,2],"2":12.05,np.array([1,2]):12.05}
d

TypeError: unhashable type: 'numpy.ndarray'

In [12]:
d={1:1.5,2:2.5,3:2.5}
d[1]=123
d

{1: 123, 2: 2.5, 3: 2.5}

## Conversion between data types
We can convert between different data types by using different type conversion functions like int(), float(), str() etc.

In [40]:
float(5)

5.0

Conversion from float to int will truncate the value (make it closer to zero).

In [39]:
int(10.6)

10

In [43]:
int(-10.6)

-10

Conversion to and from string must contain compatible values.

In [41]:
float('2.5')

2.5

In [42]:
str(25)

'25'

In [44]:
int('1p')

ValueError: invalid literal for int() with base 10: '1p'

We can even convert one sequence to another.

### Note[3]

In [1]:
a='Hello World!'
b=5
a+b

TypeError: can only concatenate str (not "int") to str

**TypeError** is thrown when an operation or function is applied to an object of an inappropriate type.[4]

In [5]:
"Hello" + "World"

'HelloWorld'

In [4]:
底=20
高=15
面積 = (底 * 高) / 2
面積

150.0

In [6]:
name = input("請問你叫什麼名字? ")
print("你好, " + name + "!")

請問你叫什麼名字? JOJO
你好, JOJO!

In [25]:
import numpy as np
import matplotlib.pyplot as plt
import random

In [22]:
for i in range(20):
    print(np.random.randint(3))

2
2
1
0
2
0
1
0
2
0
0
1
0
2
1
0
0
0
2
2

In [26]:
for i in range(20):
    print(random.randint(0,3))

2
0
3
0
0
3
0
3
1
0
1
3
3
1
1
1
3
3
0
1

## Reference
1. https://www.w3schools.com/python/python_operators.asp   
2. https://www.programiz.com/python-programming/operators  
3. https://github.com/yenlung/Python-3-Data-Analysis-Basics/blob/master/20170828-29%E4%BA%A4%E9%80%9A%E5%A4%A7%E5%AD%B8/02%20%E4%BB%8A%E5%A4%A9%E5%B0%B1%E5%AD%B8%E6%9C%83%20Python%20%E7%A8%8B%E5%BC%8F%E8%AA%9E%E8%A8%80.ipynb
4. https://www.tutorialsteacher.com/python/error-types-in-python